.App {
  background-image: linear-gradient(to right, #87ceeb, #fe9baa);
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 10px;
}

.card {

  text-align: left;
  background-color: rgb(238, 237, 237);
  width: 500px;
  border-radius: 50%;
  border-radius: 4px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin-bottom: 20px;
}

.btn-primary {
  align-items: end;
  background-color: black;
  color: white;
  font-size: 12px;
  border-color:black;
}

.btn-primary:hover {
  border-color: black;
  background-color: transparent;
  color: black;
}


#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #87ceeb, #fe9baa);
}

#container {
  position: relative;
  width: 100%;
  max-width: 1400px;
}